body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
  }
  p {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    border: 2px solid red;
    padding: 30px;
  }